# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

# Google Service Account Private Key
api-*.json

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Keystore
#
# Keystore files are security files used for signing Android apps and must be kept safe and
# so it is important to not store these in the git repo
#
*.keystore

# Firebase plist
ios/CodeAndRobots/GoogleService-Info-Beta.plist
ios/CodeAndRobots/GoogleService-Info.plist

# Bundle artifact
*.jsbundle

# Misc
#
.env
sentry.properties
ios/index/
