<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758363762215-b1brq3nh3cu7pki6v7ntabpdqh8hreo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758363762215-b1brq3nh3cu7pki6v7ntabpdqh8hreo1</string>
	<key>API_KEY</key>
	<string>AIzaSyAhTAIuFLvQXYpkuKYiZ8ZT3xs0jkTetps</string>
	<key>GCM_SENDER_ID</key>
	<string>758363762215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeandrobots.CodeAndRobots-Dev.dev</string>
	<key>PROJECT_ID</key>
	<string>api-5068243061509800600-148696</string>
	<key>STORAGE_BUCKET</key>
	<string>api-5068243061509800600-148696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758363762215:ios:1f94a75a92d45786</string>
	<key>DATABASE_URL</key>
	<string>https://api-5068243061509800600-148696.firebaseio.com</string>
</dict>
</plist>