<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.codeandrobots.${BUNDLE_ID_PREFIX}${BUNDLE_ID_SUFFIX}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.338872740475-fknc33l86p0sr08o67tr02t5ccu6kj74</string>
				<string>com.googleusercontent.apps.338872740475-1e63rj55a7n6svqnqruj9gg546l6q764</string>
				<string>com.googleusercontent.apps.338872740475-flgn023ak35dp5vill2aqjv0paolrabt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>codeandrobots.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>Making it quick and easy to share with your friends</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Code and Robots. All rights reserved.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app might use your location if required</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app might use your location if required</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to record audio.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses bluetooth to connect to devices.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Helvetica.ttc</string>
		<string>LatoBold.ttf</string>
		<string>LatoRegular.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>RobotoMedium.ttf</string>
		<string>RobotoBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms</string>
	</array>
</dict>
</plist>
